.header { background-color: #FFFFFF; display:flex; width: 100%; height: 80px; align-items: center; justify-content: space-between; font-style: normal;
     font-weight: 500; font-size: 14px; line-height: 16px; letter-spacing: 0.02em; border-bottom: solid 1px #ECECEC; } 
     .header img { object-fit: contain; margin-left: 215px; } 
     .header-cont-center{ align-items: center; display: flex; } 
     .head-li { color: #212121; } 
     .links-hf { padding: 32px 0; position: relative; transition-property: color; transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); } 
     .links-hf:hover { color: #2196F3; } 
     .links-hf:focus { color: #2196F3; } 
     .current { color: #2196F3; } 
     .current::after { content: ''; display: block; width: 100%; height: 4px; background: #2196F3; border-radius: 2px; position: absolute; left: 0; bottom: 0; } 
     .links-hf:active { color: #2196F3; } 
     .links { display: flex; align-items: center; justify-content:center; margin-left: auto; padding: 0; } 
     .nav { width: 281px; margin-left: 93px; padding: 0; } .navig { display: flex; gap: 50px; color: #212121; } 
     .mail { align-items: center; padding: 15px 0; display: flex; color: #757575; transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); } 
     .link-child-tel { margin-left: 30px; } 
     .tel { padding: 15px 0; display: flex; color: #757575; transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
.header-cont-center{
    align-items: center;
        display: flex;
    } 